/* Footer Part */

footer{
	position:fixed;
    bottom:0;
	height:60px;
}
.footer-distributed{
	background-color: #292c2f;
	width: 100%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
}

.footer-distributed .footer-left{
	display: flex;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
}

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 5px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right a{
	display: inline-block;
	color: #ffffff;
	text-align: center;
	margin-left: 5px;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}