html{
	font-family: 'Open Sans', sans-serif;
	background-color: #292c2f;
    height: 100%;
    width:100%;
}

.general
{
	position: relative;
   	overflow: auto;
	height: 100%;
    width:auto;
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover !important;
}

.outer {
  display:flex;
  justify-content: center;
  padding: 20px;
  
}
.outer > div {
  border: 1px solid #000;
  margin:2px;
}   

.montage, .side{
    width:75%;
    min-height:800px;
    max-height: 1000px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5x;
}
.side{
    width: 20%;
    text-align: center;
}

.side > h1 {
    font-size: 2vw;
    width:auto;
}

.last-image{
	max-width: 85%;
    max-height: 80%;
    max-height: 200px;
}

.picture{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.picture-action{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:640px;
  height:480px;
  z-index:0;
  position:relative
}

.photo {
    position:absolute;
    float:left;
    z-index:5;
    width:640px;
    height:480px;
    pointer-events: none;
}

.photo-result{
    border: 1px solid black;
    position:absolute;
    float:left;
    z-index:5;
    width:640px;
    height:480px;
    pointer-events: none;
}

#canvas-result {
  display:none;
}

.camera {
  width: 640px;
}

.filter{
    background-color: rgba(0, 0, 0, 0.0);
    position:absolute;
    float:left;
    z-index:10;
    width:641px;
    height:481px;
    pointer-events: none;

}

.grayscale{
    filter:grayscale(100%);  
}

.sepia{
    filter:sepia(100%);
}

.negative{
    filter:invert(100%);
}

.filterimg{
    max-width:200px;
    max-height:200px;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: rgba(255, 255, 255, 1.0);
  z-index: 11;
}

#resetbutton {
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: rgba(0, 0, 0, 1.0);
}

.contentarea {
  font-size: 16px;
  width: 760px;
}

div.social-media{
    margin: 0 auto;
    padding: 0 6px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

div.gallery{
    text-align: center;
	margin:10px;
	background-color: white;
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
   width: 100% !important;
  height: auto !important;
}

div.gallery-large{
    margin:10px;
	background: white;
    border: 10px solid white;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20x;
}

div.gallery-large img {
    width: 100%;
    height: auto;
}

.responsive-large {
    margin: 0 auto;
    padding: 0 6px;
    width: 66%;
    max-width:1000px;
}

div.desc {
    padding: 5px;
    font-size:30px;
    text-align: center;
}

.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size:30px;
}


.responsive {
    padding: 10 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

@media only screen and (max-width: 800px){
    .picture{
        flex-direction: column;
        align-items: center;
    }
} 

@media only screen and (max-width: 900px){
    .outer {
       flex-direction: column;
       align-items: center;
    }
    .montage{
         width:90%;
          min-height:400px;
        max-height: 1000px;
    }
    .side{
        width:90%;
    }
    .filter, .photo-result, .video, .camera, .photo{
        height:240px;
        width: 320px;
    }
    .filter > img{
        max-height: 120px;
        max-width: 120px;
    }

} 

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.fa-arrow-right, .fa-arrow-left{
    color:white;
}

.fa-comments, .fa-heart, .fa-trash-o{
    color: black;
}

.fa-comments:hover, .fa-heart:hover, .fa-trash-o:hover{
    color: red;
}

.fa-google-plus{
    color: red;
}

.fa-twitter{
    color: #00aced;
}

.fa-facebook{
    color: #3b5998;
}