html{
	font-family: 'Open Sans', sans-serif;
	background-color: #292c2f;
}

.body-general
{
	position: relative;
	background-color: #292c2f;
   	overflow: auto;
	height: 100%;
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
}

.montage, .side{
	position: relative;
	display: inline-block;
    width:50%;
	height:72%;
    padding:15px;
    margin:20px auto;
    background: white;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5x;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
	overflow: auto;
}

div.gallery {
	margin:10px;
	background: white;
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.side{
    max-width:20%;
}

.last-image{
	width: 100%;
    height: auto;
	padding:5px;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}